@font-face {
  font-family: 'Graphik-regular';
  src: url(../fonts/Graphik-Regular.eot);
    src: url(../fonts/Graphik-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Regular.woff) format("woff"), url(../fonts/Graphik-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal; }
  
  @font-face {
    font-family: 'Graphik-semibold';
    src: url(../fonts/Graphik-Semibold.eot);
    src: url(../fonts/Graphik-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Semibold.woff) format("woff"), url(../fonts/Graphik-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal; }
  
  @font-face {
    font-family: 'Graphik-medium';
    src: url(../fonts/Graphik-Medium.eot);
    src: url(../fonts/Graphik-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Medium.woff) format("woff"), url(../fonts/Graphik-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal; }