 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik'
}

.dropdown {
    position: fixed;
    top: 0.5px;
    left: 92.25%;
    margin-top: 15px;
    width: 140px;
    height: 50px;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #100c08;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
    font-family: 'Graphik'
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 1.2em;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
    font-family: 'Graphik'
}

.dropdown .options {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #E7E6E6;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    font-family: 'Graphik'
}

.dropdown.active .options {
    display: block;
}

.dropdown .options div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .options div:hover {
    background: #fff;
    color: #100c08;
    font-family: 'Graphik'
}

a {
    color:rgb(128, 125, 125);
     text-decoration:none;
    font-family:Graphik;
    display: inline-block;
}


