  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent !important;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: justify;
  background: #222222;
  color: #ffffff; }

a, a:after, a:visited {
  background-color: transparent;
  text-decoration: none; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  position: absolute; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 transparent;
  border-radius: 0; }

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #000;
  -webkit-box-shadow: inset 0 0 0 transparent; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #000; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

::-moz-selection {
  background: #000;
  color: #fff; }

a {
  color: #4fd1c5; }

h1 {
  font-size: 100px;
  font-size: 7.2vw;
  letter-spacing: -2px;
  line-height: 110%;
  font-family: Semibold;
  position: fixed;
  top: 34%;
  left: 7%; }

.text {
  position: relative;
  display: block;
  overflow: hidden; }

.animate {
  -webkit-animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.help {
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer; }

.devto {
  position: fixed;
  top: 2%;
  right: 2%; }

.devto a {
  color: #f9f9f9; }

.help:hover {
  color: #4fd1c5; }

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0); } }

@keyframes animate {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.delay {
  -webkit-animation-delay: .3s;
  animation-delay: .3; }

.about {
  position: absolute;
  top: 100vh;
  left: 50%;
  right: 7%;
  padding-bottom: 34vh; }

h2 {
  font-size: 30px;
  font-size: 2.0vw;
  line-height: 140%;
  font-family: Medium;
  margin-bottom: 7%; }

p {
  font-size: 18px;
  font-size: 1.25vw;
  line-height: 180%;
  font-family: Regular;
  margin-bottom: 6%; }

b {
  font-family: Medium; }

@media screen and (max-width: 667px) {
  h1 {
    font-size: 60px;
    font-size: 16vw; }
  h2 {
    font-size: 24px;
    font-size: 6.4vw; }
  p {
    font-size: 18px;
    font-size: 4.8vw; }
  .about {
    left: 0;
    right: 0;
    background: #222222;
    padding: 7%; } }

    li
    {
      display:inline-block;
    }
    