a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl,
dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li,
mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small,
span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead,
time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent !important;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: justify;
  background: #100c08;
  color: #ffffff; }

a, a:after, a:visited {
  background-color: transparent;
  text-decoration: none; }

  ::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  position: absolute; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 transparent;
  border-radius: 0; }

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #100c08;
  -webkit-box-shadow: inset 0 0 0 transparent; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #100c08; }

::-moz-selection {
  background: #100c08;
  color: #fff; }

::selection {
  background: #100c08;
  color: #fff; }

::-moz-selection {
  background: #100c08;
  color: #fff; }

a {
  color: #4fd1c5; }

h1 {
  font-size: 150px;
  font-size: 7.2vw;
  letter-spacing: -2px;
  line-height: 110%;
  font-family: 'Graphik';
  position: fixed;
  top: 34%;
  left: 7%; }

.text {
  position: relative;
  display: block;
  overflow: hidden; }

.animate {
  -webkit-animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }


@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0); } }

@keyframes animate {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.delay {
  -webkit-animation-delay: .3s;
  animation-delay: .3; }

.about {
  position: absolute;
  top: 100vh;
  left: 50%;
  right: 7%;
  padding-bottom: 34vh; }

h2 {
  font-size: 30px;
  font-size: 2.0vw;
  line-height: 140%;
  font-family: 'Graphik';
  margin-bottom: 7%; }

  h3 {
    font-size: 50px;
    font-size: 1.5vw;
    line-height: 140%;
    font-family: 'Graphik';
    margin-bottom: 7%; 
    display:inline-block}

    a {
      display: inline-block;
  }

p {
  font-size: 18px;
  font-size: 1.25vw;
  line-height: 180%;
  font-family: 'Graphik';
  margin-bottom: 6%; }

b {
  font-family: 'Graphik'; }

@media screen and (max-width: 667px) {
  h1 {
    font-size: 60px;
    font-size: 16vw; }
  h2 {
    font-size: 24px;
    font-size: 6.4vw; }
  p {
    font-size: 18px;
    font-size: 4.8vw; }
  .about {
    left: 0;
    right: 0;
    background: #100c08;
    padding: 7%; } }

    .dropdown {
  position: relative;
  width: 230px;
  filter: url(#goo);

  &__face,
  &__items {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
  }

  &__face {
    display: block;
    position: relative;
  }

  &__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);

    &::before {
      content: "";
      background-color: #fff;
      position: absolute;
      bottom: 100%;
      right: 20%;
      height: 40px;
      width: 20px;
    }
  }

  &__arrow {
    border-bottom: 2px solid #100c08;
    border-right: 2px solid #100c08;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }

  input {
    display: none;

    &:checked ~ .dropdown__items {
      top: calc(100% + 25px);
      visibility: visible;
      opacity: 1;
    }
  }
}

body {
  background-image: linear-gradient(140deg, #100c08, #100c08);
  display: grid;
  place-items: center;
  font-family: "Lato", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

svg {
  display: none;
}

@font-face {
  font-family: 'Graphik-regular';
  src: url(../fonts/Graphik-Regular.eot);
    src: url(../fonts/Graphik-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Regular.woff) format("woff"), url(../fonts/Graphik-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal; }
  
  @font-face {
    font-family: 'Graphik-semibold';
    src: url(../fonts/Graphik-Semibold.eot);
    src: url(../fonts/Graphik-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Semibold.woff) format("woff"), url(../fonts/Graphik-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal; }
  
  @font-face {
    font-family: 'Graphik-medium';
    src: url(../fonts/Graphik-Medium.eot);
    src: url(../fonts/Graphik-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Medium.woff) format("woff"), url(../fonts/Graphik-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal; }


    @media screen and (max-width: 667px) {
      #Chart1 {
        width: 300px;
        height: auto;
        margin: auto;
        display:block;
      }
      
      #Chart2 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart3 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart4 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart5 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart6 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart7 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart8 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart9 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart10 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart11 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart12 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart13 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart14 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart15 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart16 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart17 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart18 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart19 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart20 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart21 {
        width: 300px;
        margin: auto;
        display:block;
      }
      
      #Chart22 {
        width: 300px;
        margin: auto;
        display:block;
      } }

      .help {
        position: fixed;
        bottom: 2%;
        right: 2%;
        cursor: pointer; }


        @media screen and (max-width: 667px) {
          img {
            max-width: 50%;
            height: auto;
          }}
